body {
  background-color: #FFFDC2;
  font-family: helvetica;

  div {
    // background-color: #FFFC8E;
    // width: 40%;
    // margin: 0 auto;
    // border: 2px solid black;

    li {
      list-style-type: none;

      input {
        margin-left: 1rem;
      }
    }
  }
}
